<footer class="site-footer">
  <small>
    Follow us on <a href="https://www.youtube.com/channel/UCGToDQw7Lkiu21eyCp_Hvqw" target="_blank">YouTube</a> and
    <a href="https://www.instagram.com/greensontour/" target="_blank">Instagram</a>.
  </small>
</footer>
